// 
// Color overrides
// 

// This file is intentionally blank
// Use this file to override any color variables within the project

// You can also replace this file with a file exported from the customizer, 
// which you can access from the widget at https://themes.startbootstrap.com/sb-ui-kit-pro/

// * * * * * * * *
// * * Example * *
// * * * * * * * *

// Uncomment below and rebuild the SCSS to see color changes in effect

// $primary: $orange;
// $secondary: $pink;

$primary: #204250;
$secondary: #506c6a;
$success: #799f78;
$danger: #bb8282;
$warning: #d5c357;
$info: #957fa9;